<div class="home-hero">
  <!-- background only -->
</div>


<div class="d-flex justify-content-center align-items-center my-3 w-100">

  <form
    class="card p-4 shadow-sm w-80 rounded-pill"
    (ngSubmit)="onSubmit()"
    #searchForm="ngForm">

    <div class="d-flex gap-3 flex-row justify-content-between align-items-center">

      <h4 class="mb-0">Search flights</h4>

      <!-- Origin -->
      <div class="form-group d-flex align-items-center">
        <label class="mx-2" for="originId">Origin</label>
        <input
          id="originId"
          placeholder="Enter origin"
          [(ngModel)]="req.origin"
          name="origin"
          class="form-control form-control-sm py-1"
          required
          #origin="ngModel">
      </div>

      <!-- Destination -->
      <div class="form-group d-flex align-items-center">
        <label class="mx-2" for="destinationId">Destination</label>
        <input
          id="destinationId"
          placeholder="Enter destination"
          [(ngModel)]="req.destination"
          name="destination"
          class="form-control form-control-sm py-1"
          required
          #destination="ngModel">
      </div>

      <!-- Search Button -->
      <button
        type="submit"
        class="btn btn-primary rounded-pill"
        [disabled]="
          searchForm.invalid ||
          (req.origin && req.destination && req.origin === req.destination)
        ">
        Search
      </button>

    </div>

    <!-- Validation message -->
    <div
      class="text-danger text-center mt-2"
      *ngIf="
        origin.touched &&
        destination.touched &&
        req.origin === req.destination
      ">
      Origin and Destination cannot be the same
    </div>

  </form>
</div>
