.home-hero {
  position: fixed;
  top: 64px;                 /* height of navbar */
  left: 0;

  width: 100vw;
  height: calc(100vh - 64px);

  background-image: url("https://wallpapers.com/images/featured/plane-desktop-yms31u8wyuke7ari.jpg");
  background-size: cover;    /* fills entire screen */
  background-position: center;
  background-repeat: no-repeat;

               /* send behind content */
}
