<div class="my-4 ">
  <h4 class="text-center mb-3">Search for flights</h4>

  <div class="d-flex justify-content-center ">
    <form
      [formGroup]="form"
      class="card p-3 shadow-sm w-75 rounded-pill px-4"
      (ngSubmit)="onSubmit()"
    >
      <div class="d-flex gap-3 align-items-center justify-content-between">

        <!-- Origin -->
        <div class="form-group d-flex flex-row gap-2 ">
          <label for="originId">Origin</label>
          <div class="d-flex flex-column position-relative">
          <input
            id="originId"
            formControlName="origin"
            placeholder="Enter origin"
            class="form-control form-control-sm rounded-pill"
          />
          <div class="position-absolute my-4">
          @if (form.get('origin')?.invalid && form.get('origin')?.dirty) {
            @if (form.get('origin')?.errors?.['pattern']) {
              <small class="text-danger" style="font-size:12px">
                *Only alphabets are allowed
              </small>
            }
          }
          </div>
          </div>
        </div>

        <!-- Destination -->
        <div class="form-group d-flex flex-row gap-2">
          <label for="destinationId">Destination</label>
           <div class="d-flex flex-column position-relative">
          <input
            id="destinationId"
            formControlName="destination"
            placeholder="Enter destination"
            class="form-control form-control-sm rounded-pill"
          />
<div class="position-absolute my-4">
          @if (form.get('destination')?.invalid && form.get('destination')?.dirty) {
            @if (form.get('destination')?.errors?.['pattern']) {
              <small class="text-danger" style="font-size:12px">
                *Only alphabets are allowed
              </small>
            }
          }
          </div>

          @if (form.hasError('sameLocation')) {
            <small class="text-danger" style="font-size:12px">
              *Origin and destination cannot be the same
            </small>
          }
          </div>
        </div>

        <!-- Date -->
        <div class="form-group d-flex flex-row gap-2">
          <label for="departureDate">Date</label>
          <input
            id="departureDate"
            type="date"
            formControlName="departureDate"
            class="form-control form-control-sm rounded-pill"
            [min]="minDate"
          />
        </div>

        <!-- Button -->
        <button
  type="submit"
  class="btn btn-primary rounded-pill px-4 d-flex align-items-center gap-2"
  [disabled]="form.invalid"
>
  <span class="material-symbols-outlined">search</span>
  Search
</button>

      </div>
    </form>
  </div>
</div>

@if (flights$) {
  <app-flight-list [flights]="flights$ | async"></app-flight-list>
}
