@if (flights$ | async; as flights) {

  @if (flights.length > 0) {

    <div
      class="d-flex justify-content-center align-items-center
             gap-3 mt-5 flex-wrap w-100">

      @for (flight of flights; track flight.flightId) {

        <div class="card w-100">
          <div
            id="flight"
            class="card-body m-3 rounded d-flex flex-row justify-content-between">

            <h5>{{ flight.airline }}</h5>

            <h5 class="text-muted">
              {{ flight.origin }} → {{ flight.destination }}
            </h5>

            <span
              id="price"
              class="badge text-bg-success h-75 fs-6">
              {{ flight.price | currency:'INR' }}
            </span>

            <h6>
              Arrival: {{ flight.arrivalTime | date:'dd MMM yyyy, hh:mm a' }}
            </h6>

            <h6>
              Departure: {{ flight.departureTime | date:'dd MMM yyyy, hh:mm a' }}
            </h6>

            <h6>
              Available Seats: {{ flight. }}
            </h6>

            <button
              class="btn btn-primary"
              (click)="SendFlightId(flight)">
              Book Ticket
            </button>

          </div>
        </div>

      }
    </div>

  } @else {
    <div class="d-flex justify-content-center">
      <p class="text-center mt-5 text-muted card w-50">
        No flights found!!
      </p>
    </div>
  }

}
