

body {
 
  margin: 0;
  color: #5e0414;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
   min-height: 90vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSgtcHjcwudxIxD0LWtYq8RdZR29TIanrvbw&s');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(121, 50, 68, 0.65); 
  z-index: -1;
} 


.card {
  backdrop-filter: blur(6px)!important;
  background: rgba(91, 5, 5, 0.95);
}


html, body {
  height: 100%;
}
::placeholder {
  color: rgba(39, 41, 42, 0.479) !important;
}
.navbar {
   background: linear-gradient(135deg, #6d0305, #b42d12) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #ffffff !important;
}


.btn-primary {
  background-color: #E97F4A !important;
  border-color: #E97F4A !important;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #d96e3f !important;
}

.btn-secondary {
  background-color: #b7210d !important;
  border-color: #9b3709 !important;
  color: #ffffff;
}
.bg-secondary{
    background-color: #d96e3f  !important;
  border-color: #9b3709 !important;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #9b3709 !important;
}

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(67, 78, 120, 0.15);
  color: #434E78;
}

h1, h2, h3, h4, h5 {
  color: #434E78;
  font-weight: 600;
}

a {
  color: #E97F4A;
}

a:hover {
  color: #ae3806;
}

.badge-primary {
  background-color: #d25211;
}

.badge-secondary {
  background-color: #5b0505;
}

.form-control {
  border: 1px solid #9c1010;
}

.form-control:focus {
  border-color: #ed5f17;
  box-shadow: 0 0 0 0.2rem rgba(233, 127, 74, 0.25);
}
